{% extends 'base.html.twig'%}

    {% block title %}Se connecter{% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">
{%  endblock %}
{% block body %}
<body>
<form method="post" id="form-login">
    <div id="titre-connexion">
        <h1>Se connecter</h1>
    </div>
<br>
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% elseif not app.user %}
            <div class="menu_création_compte ">
                <a href="{{ path('app_register') }}" title = "creation compte">
                    <span>Créer un compte</span>
                </a>
            </div>
    {% endif %}

    <span class ="inputsLogin">
    <h4 class="h3 mb-3 font-weight-normal"></h4>
    <label for="inputLogin">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
         </span>
    <br>
    <span class ="inputsPassword">
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
 </span>
    <label id ="remember_me">
        <input id = "remember_me" type="checkbox" name="_remember_me" checked/>
        Se souvenir de moi
    </label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <button class="btn-connexion-valider" type="submit">
        <label>Valider</label>

    </button>

    <button class="btn-connexion-retour" type="submit">
        <a href="{{ path('app_accueil') }}" title = "retour">
            <label>Retour</label></a>
    </button>
    <button class="btn-forgottenPassword" type="submit">
        <a href="{{ path('app_forgottenPassword') }}" class="forgottenPassword"><label>Mot de passe oublié</label></a>
    </button>

</form>

</body>
{% endblock %}
