<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Se connecter{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">
</head>
{% block body %}
<body>
<form method="post" id="login">
    <h1>Se connecter</h1>
<br>
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% elseif not app.user %}
            <div class="menu_création_compte ">
                <a href="{{ path('app_register') }}" title = "creation compte">
                    <span>Créer un compte</span>
                </a>
            </div>
    {% endif %}

    <span class ="inputsLogin">
    <h4 class="h3 mb-3 font-weight-normal"></h4>
    <label for="inputLogin">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
         </span>
    <br>
    <span class ="inputsPassword">
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
 </span>
    <label>
        <input type="checkbox" name="_remember_me" checked/>
        Se souvenir de moi
    </label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<br><br>
    <button class="btn btn-lg btn-primary" type="submit">
        Valider
    </button>
<br>
    <button class="btn btn-lg btn-secondary" type="submit">
        <a href="{{ path('app_accueil') }}" title = "retour">Retour</a>
    </button>
    <button class="btn btn-link" type="submit">
    <a href="{{ path('app_forgottenPassword') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a>
    </button>

</form>

    <br>
    <footer class="footer">
        <div class="footer-left">
            <p class="footer-links">
                <a href="{{ path('app_accueil') }}" class="link-1">Accueil</a>
                <a href="{{ path('app_recompenses') }}" >Récompenses</a>
                <a href="{{ path('app_tournois') }}" >Tournois</a>
                <a href="{{ path('app_login') }}" >Se connecter</a>
                <a href="{{ path('app_contact') }}">Contact</a>

            </p>
            <p class="footer-company-name">NHCI </p>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
        </div>
    </footer>
</body>
{% endblock %}
</html>