{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}
   {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">
{% endblock %}

{% block body %}
<body>
<div id = "form-register">
    {{ form_start(registrationForm) }}
        <div id="titre-register"><h1>Création de compte</h1></div>

    <span class ="username"><label>Pseudo</label>
        {{ form_widget(registrationForm.username)}}
    </span><br>

    <span class ="email"><label>Email</label>
        {{ form_widget(registrationForm.email)}}
    </span>

    <span class ="plainPassword"><label>Mot de passe</label>
       {{ form_widget (registrationForm.plainPassword.first, {'attr': {'placeholder': 'Veuillez entrer votre mot de passe'}}) }}
</span>
    <span>
        {{ form_widget (registrationForm.plainPassword.second, {'attr': {'placeholder': 'Veuillez confirmer votre mot de passe'}}) }}
    </span>

    <br>
        <button type="submit" class="btn">S'enregistrer</button>
    <button class="btn btn-lg btn-secondary" type="submit">
        <a href="{{ path('app_login') }}" title = "retour">Retour</a>
    </button>
    {{ form_end(registrationForm) }}
</div>

</body>
{% endblock %}
