{% extends 'base.html.twig' %}

{% block title %}Récompenses{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">

{% endblock %}

{% block body %}
<body>
<div class ="container">

{% for recompense in recompenses %}
    <div class ="recompenses">
        <div id = "titre-recompenses"> {{ recompense.nom }} </div><br>

    <div id ="image-recompense"><img src="{{ asset('images/recompense/' ~ recompense.imageName) }}" alt="image récompense" height="401px"
                                    width="558px"></div>
        <div id = "description-recompense">{{ recompense.description }}</div><br>
    <br>
    </div>
{% endfor %}
</div>

</body>

{% endblock %}
    {%  block javascripts %}
        {# script jquery pour afficher du texte au survol des images de récompense #}
        <script src="{{ asset('jquery-3.6.3.js') }}"></script>
        <script>
            $(document).ready(function(){
                $(".recompenses #description-recompense").css({

                    opacity: "0",
                    height: "0",
                    width: "0",
                    marginLeft: "0"
                    });

                $(".recompenses #image-recompense").mouseenter(function() {
                    $(".recompenses #description-recompense").animate({
                        opacity: "0.95",
                        height: "50px",
                        width: "540px",
                        marginLeft: "380px"
                    }, 300);
                });
                $(".recompenses #image-recompense").mouseleave(function() {
                    $(".recompenses #description-recompense").animate({

                        opacity: "0",
                        height: "0"
                    }, 300);
                });
            });
        </script>
    {% endblock %}


