{% extends 'base.html.twig' %}

{% block title %}Récompenses{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
{% endblock %}

{% block body %}
<body>
<div class ="container">
<div id = "titre-recompenses">Récompenses </div>

{% for recompense in recompenses %}
    <div class ="recompenses" style="float:right;width:70%;">
    {{ recompense.nom }} <br>
    {{ recompense.description }}<br>
    <img src="{{ asset('images/recompense/' ~ recompense.imageName) }}" alt="image goodie" height="400px"
         width="300px">
    <br>
    </div>
{% endfor %}

    <button class="btn btn-link btn-secondary" type="submit">
        <a href="{{ path('app_tournois') }}" title = "tournois">Tournois</a>
    </button>
    </div>
</body>
{% endblock %}



