{% extends 'base.html.twig' %}

{% block title %}Shootfighter{% endblock %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/accueil.css') }}">
{% endblock %}
{% block body %}
    <body>
    <div id="banniere"></div>
        <div class = "container">

            {% for actualite in actualites %}
                <div id="texte-actu">
                    <p id ="p-actu">{{ actualite.texte }}</p>
                <p id ="actu-createdAt">{{ actualite.createdAt | date ('d-m-Y')}}</p></div>
                    <div class="actualite">
                        <h2>{{ actualite.nom }}</h2>
                        <div id ="image"><img src="{{ asset('images/actualites/' ~ actualite.imageName) }}" alt="image actualite"
                                              height="140%"
                             width= "100%"></div>

                    </div>
    {% endfor %}
            </div>

    </body>
{% endblock %}


