{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.getUsername }}
{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/profil.css') }}">
    {%  endblock %}
{% block body %}
    <body>
    <div id="afficherprofil">
        <div id = "titre-afficherprofil"><h1>{{ user.getUsername}}</h1></div>

            <div class = "avatar-profil"><img src="{{ asset('images/user/' ~ user.imageName) }}" alt="avatar" height="400px"
                 width="300px"></div>
            <span class="prenom-profil">{{ user.getPrenom }}</span>
            <p class="nom-profil">Nom :</p><span class="col-6">{{ user.getNom }}</span>
            <p class="email-profil">Email :</p><span class="col-6">{{ user.getEmail }}</span>

                <button class="btn-monprofil-accueil"><a href="{{ path('app_accueil')}}">Retour</a></button> <br>
                <button class="btn-monprofil-modifier "><a href="{{ path('app_monProfil',{'id': user.id}) }}" class="btn btn-primary btn-lg">Modifier mon profil</a></button>

        </div>

<div class = participations>
    {% for participations in participations %}
    <li>{{ participations.tournois}}</li>
        <button class="btn btn-secondary btn-lg "><a href="{{ path('app_desinscrire', {'id': user.id, 'idTournois': participations.tournois.id})}}" class="btn btn-primary btn-lg">Se désincrire</a></button>
    {% endfor %}


</div>
    </body>
{% endblock %}