{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.getUsername }}
{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/profil.css') }}">
    {%  endblock %}
{% block body %}
    <body>
    <div class="container">
    <div id="afficherprofil">
        <div id = "titre-afficherprofil"><h1>Mon profil</h1></div>

            <div id = "avatar-profil"><img src="{{ asset('images/user/' ~ user.imageName) }}" alt="avatar" height="400px"
                 width="300px"></div>

        <div id = "donnees-utilisateur">
            <label>Pseudo</label>
            <span>{{ user.username}}</span><br>
            <label>Prénom</label>
            <span>{{ user.getPrenom }}</span><br>
            <label>Nom</label>
            <span>{{ user.getNom }}</span><br>
        <label>Email</label>
        <span>{{ user.getEmail }}</span><br></div>


            <button class="btn-monprofil-modifier"><a href="{{ path('app_modifierProfil',{'id': user.id}) }}" class="btn btn-primary btn-lg">Modifier mon profil</a></button>

        {# Faire un tableau des participations #}

        <table>
            <caption>Mes inscriptions</caption>
            {# en- tête du tableau  #}
            <thead>

            <tr>
                <th scope = "col">Tournois</th>
                <th scope = "col">Date</th>
                <th scope = "col">Recompense choisie</th>
                <th scope = "col"></th>
            </tr></thead>
            <tbody><tr>
            {% for participations in participations %}
                {#  contenu du tableau avec une boucle for pour lire les différentes participations #}

                   <td>{{ participations.tournois}}</td>
                   <td>{{ participations.tournois.date | date ('d-m-Y') }}</td>
                   <td>{{ participations.recompenses }}</td>

            <td class="btn-desinscrire ">
                    <a href="{{ path('app_desinscrire', {'id': user.id, 'idTournois': participations.tournois.id})}}">Se désincrire</a></td>
            </tr>{% endfor %}</tbody></table>
        </div>
        </div>
    </body>
{% endblock %}