{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil
{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/profil.css') }}">
    {%  endblock %}
{% block body %}
    <body>
    <div class="container">
        <div id="form-monProfil">

            <div id = "titre-monprofil"><h1>Mon profil</h1></div>

            {{ form_start(monProfilForm) }}

                <span class="modification-pseudo"><label>Pseudo</label><br>
                    {{ form_widget(monProfilForm.username)}}
                </span><br>

            <span class="modification-prenom"><label>Prénom</label><br>
                    {{ form_widget(monProfilForm.prenom)}}
                </span><br>


                <span class="modification-nom"><label>Nom</label><br>
                    {{ form_widget(monProfilForm.nom)}}
                </span><br>


                <span class="modification-email"><label>Email</label><br>
                    {{ form_widget(monProfilForm.email)}}
                </span><br>

            <span class="modification-password"><label>Mot de passe</label><br>
                    {{ form_widget(monProfilForm.password.first, {'attr': {'placeholder': 'Veuillez entrer votre mot de passe'}})}}
                </span>
            <span>
                    {{ form_widget(monProfilForm.password.second, {'attr': {'placeholder': 'Veuillez confirmer votre mot de passe'}})}}
        </span><br>

                 <span class="modification-image"><label>Image</label><br>
                    {{ form_widget(monProfilForm.imageFile)}}
                </span><br>


            <div class="monprofil-validation">
                <button class="btn-monprofil-valider " type="submit">Enregistrer</button><br><br>
                {% if app.user %}
                <button class="btn-monprofil-annuler "><a href="{{ path('app_afficherUtilisateur', {'id': user.id}) }}" >Annuler</a></button>
                {%  elseif not app.user%}
                <button class="btn-monprofil-annuler "><a href="{{ path('app_accueil') }}" >Annuler</a></button>
                {% endif %}
            </div>
            {{ form_end(monProfilForm) }}
        </div>
        </div>
    </div>
    </body>
{% endblock %}
