{% extends 'base.html.twig' %}

{% block title %}Inscription tournois{% endblock %}

{%  block stylesheets %}<link rel="stylesheet" href="{{ asset ('css/Formulaires.css') }}">

{% endblock %}
{% block body %}
    <body>
    <div class="container">
    <form method="post" id="inscription-tournoi">

    {{ form_start(inscriptionForm) }}

    <div id = "titre-inscription">
        <h1>Inscription au {{ tournois.nom }}</h1>
    </div>
        <div class = "texte-gauche">

            <span>
                {{ form_widget(inscriptionForm.tournois, {value: tournois.id})}}
            </span><br>

              <span><label>Recompenses</label>

                    {{ form_widget(inscriptionForm.recompenses, {value: goodie}) }}
              </span>

            <span><label>Pseudo</label>
                {{ form_widget(inscriptionForm.pseudo, {value: user})}}
            </span><br>


            <span><label>Nom</label>
                {{ form_widget(inscriptionForm.nom, {value: user.nom})}}
            </span><br>
            <span><label>Prénom</label>
                {{ form_widget(inscriptionForm.prenom, {value: user.prenom})}}
            </span> <br>

            <span><label>Email</label>
                {{ form_widget(inscriptionForm.email, {value: user.email})}}

            </span><br>


            </div>

        <div class = "texte-droite">

            <span><label>Adresse Postale</label>
                {{ form_widget(inscriptionForm.adresse_postale)}}
            </span> <br>

            <span><label>Code Postal</label>
                {{ form_widget(inscriptionForm.code_postal)}}
            </span><br>

            <span><label>Ville</label>
                {{ form_widget(inscriptionForm.ville)}}
            </span>  <br>

            <span><label>Pays</label>
                {{ form_widget(inscriptionForm.pays)}}
            </span> <br>
            </div>


        <button type="submit" class="btn-inscription-valider">Valider
            <a href="{{ path('app_afficherUtilisateur', {'id': user.id}) }}" ></a></button>

        <button class="btn-inscription-retour" type="submit">
            <a href="{{ path('app_tournois') }}" title = "retour">Retour</a>
        </button>


            {{ form_end(inscriptionForm) }}


            </form>
        </div>
    </body>
{% endblock %}
