{% extends 'base.html.twig' %}

{% block title %}Inscription tournois{% endblock %}

{%  block stylesheets %}<link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">

{% endblock %}
{% block body %}
    <body>

    <form method="post" id="form-inscription">

    {{ form_start(inscriptionForm) }}

    <div id = "titre-inscription">
        <h1>Inscription au {{ tournois.nom }}</h1>
    </div>
        <div class = "texte-gauche">

            <span class="select-tournois">
                {{ form_row(inscriptionForm.tournois, {value: tournois.id})}}
            </span>


            <span class = choisir-recompense>

                {{ form_row(inscriptionForm.recompenses)}}
            </span>

            <span class="input-field  pseudo">
                {{ form_row(inscriptionForm.pseudo, {value: user})}}

            </span><br>


            <span class="input-field nom">
                {{ form_row(inscriptionForm.nom, {value: user.nom})}}

            </span><br>

    <span class="input-field prénom participant">
        {{ form_row(inscriptionForm.prenom, {value: user.prenom})}}

    </span> <br>

    <span class="input-field email">
        {{ form_row(inscriptionForm.email, {value: user.email})}}
        <br>
    </span>
        </div>
        <div class = "texte-droite">

    <span class="input-field adresse postale">
        {{ form_row(inscriptionForm.adresse_postale)}}
    </span> <br>
        <span class="input-field code postal">
    {{ form_row(inscriptionForm.code_postal)}}

    </span><br>

    <span class="input-field ville">
        {{ form_row(inscriptionForm.ville)}}
    </span>   <br>

    <span class="input-field pays">
        {{ form_row(inscriptionForm.pays)}}
    </span> <br>
    </div>
<br>
        <button type="submit" class="btn-inscription-valider">Valider</button>

        <button class="btn-inscription-retour" type="submit">
            <a href="{{ path('app_tournois') }}" title = "retour">Retour</a>
        </button>


    {{ form_end(inscriptionForm) }}


    </form>
    </body>
{% endblock %}
