{% extends 'base.html.twig' %}

{% block title %}Inscription tournois{% endblock %}

{% block body %}
    <body>
    <link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">

<div id = "form-inscription">

    {{ form_start(inscriptionForm) }}

    <div id = "header">
        <h1>Inscription à un tournois</h1>
    </div>
        <div style="float:left;width:45%;">

      <span class="select tournois">
            {{ form_row(inscriptionForm.tournois, {value: tournois.id})}}
    </span>
            <br><br>
            <span class="select recompense">

        {{ form_row(inscriptionForm.recompenses)}}

    </span>
            <br><br>


    <span class="input-field nom pseudo">
        {{ form_row(inscriptionForm.pseudo, {value: user.userIdentifier})}}

    </span>
            <br>

    <span class="input-field nom participant">
        {{ form_row(inscriptionForm.nom)}}

    </span><br>

    <span class="input-field prénom participant">
        {{ form_row(inscriptionForm.prenom)}}

    </span> <br>

    <span class="input-field email">
        {{ form_row(inscriptionForm.email, {value: user.email})}}
        <br>
    </span>
        </div>
        <div style="float:right;width:45%;">

    <span class="input-field adresse postale">
        {{ form_row(inscriptionForm.adresse_postale)}}
    </span> <br>
        <span class="input-field code postal">
    {{ form_row(inscriptionForm.code_postal)}}

    </span><br>

    <span class="input-field ville">
        {{ form_row(inscriptionForm.ville)}}
    </span>   <br>

    <span class="input-field pays">
        {{ form_row(inscriptionForm.pays)}}
    </span> <br>
    </div>

    <button type="submit" class="btn">Valider</button>

    <button class="btn btn-lg btn-secondary" type="submit">
        <a href="{{ path('app_accueil') }}" title = "retour">Retour</a>
    </button>

        </div>
    {{ form_end(inscriptionForm) }}
        </div>
    </body>
{% endblock %}
