{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
<link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">

{% endblock %}

{% block body %}
<body>
   <div id = "form-contact" >
    {{ form_start(contactForm) }}
       <div id="header">
           <h1>Contact</h1>
       </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>

        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

   </div>

    {{ form_end(contactForm) }}
</body>
{% endblock %}
