<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<h1>Shootfighter </h1>

{%  if not app.user %}
<button class="btn btn-lg btn-secondary" type="submit">
<a href="{{ path('app_login') }}" title = "connexion">Se connecter</a>
</button>
{% elseif app.user%}
    <button class="btn btn-lg btn-secondary" type="submit">
        <a href="{{ path('app_logout') }}" title = "deconnexion">Se déconnecter</a>
    </button>
    <br><br>
{% endif %}

<button class="btn btn-link btn-primary" type="submit">
    <a href="{{ path('app_register') }}" title = "creation compte">Créer un compte</a>
</button>

<button class="btn btn-link btn-secondary" type="submit">
    <a href="{{ path('app_recompenses') }}" title = "recompenses">Récompenses</a>
</button>

<button class="btn btn-link btn-tertiary" type="submit">
    <a href="{{ path('app_tournois') }}" title = "tournois">Tournois</a>
</button>
<br>

{% if app.user %}
<button class="btn btn-link admin" type="submit">
    <a href="{{ path('admin') }}" title = "admin">Page administrateur</a>
</button>
{% endif %}
<br>

{% for actualite in actualites %}

    {{ actualite.nom }} <br>
    {{ actualite.texte }}<br>
    {{ actualite.createdAt | date ('d-m-Y')}}<br>
    <br>

{% endfor %}

</html>

