<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app.css') }}
        {% endblock %}
    </head>
    <body>
        {% block javascripts %}{{ encore_entry_script_tags('app.css') }}{% endblock %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        <div class="container">
            <div class="header-content"><br>
                <nav>
                    <ul>

                        <li><br>
                            <a href="{{ path('app_accueil') }}" title = "accueil">Accueil
                            </a>
                        </li>
                        <li><br>
                            <a href="{{ path('app_recompenses') }}" title = "recompenses">Récompenses</a>

                        </li>

                        <li><br>
                            <a href="{{ path('app_tournois', {}) }}" title = "tournois">Tournois  </a>

                        </li>

                        <li><br>
                            <a href="{{ path('app_contact') }}" class = "menu-link" title = "contact">Contact </a>

                        </li>

                        {% if not app.user %}
                            <li><br>
                                <a href="{{ path('app_login') }}" class = "menu-link" title = "connexion">Se connecter </a>
                            </li>

                            {% elseif app.user %}
                                <li><br>
                            <a href="{{ path('app_logout') }}" title = "deconnexion">Se déconnecter </a>

                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li><br>
                                <a href="{{ path('admin') }}" title = "admin">Page administrateur</a>
                            </li>

                        {% elseif is_granted ('ROLE_USER') %}
                            <li><br>
                                <a href="{{ path('app_afficherUtilisateur', {'id': user.id}) }}">Mon profil</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="{{ path('app_accueil') }}" class="link-1">Accueil</a>
                    <a href="{{ path('app_recompenses') }}" >Récompenses</a>
                    <a href="{{ path('app_tournois') }}" >Tournois</a>
                    <a href="{{ path('app_contact') }}">Contact</a>
                    {% if not app.user %}
                        <a href="{{ path('app_login') }}" >Se connecter</a>
                    {%  elseif app.user%}
                        <a href="{{ path('app_logout') }}" >Se déconnecter</a>
                    {% endif %}
                </p>
                <p class="footer-company-name">NHCI </p>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
            </div>
        </footer>
    </body>
</html>
