{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription tournois</h1>

    {{ form_start(inscriptionForm) }}


    <div class="input-field nom pseudo">
        {{ form_label(inscriptionForm.pseudo, 'Pseudo') }}
        {{ form_widget(inscriptionForm.pseudo)}}
        <br><br>
    </div>

    <div class="input-field nom participant">
        {{ form_label(inscriptionForm.nom, 'Nom') }}
        {{ form_widget(inscriptionForm.nom)}}
        <br><br>
    </div>

    <div class="input-field prénom participant">
        {{ form_label(inscriptionForm.prenom, 'Prénom') }}
        {{ form_widget(inscriptionForm.prenom)}}
        <br><br><br><br>
    </div>
    <div class="input-field email">
        {{ form_label(inscriptionForm.email, 'Email') }}
        {{ form_widget(inscriptionForm.email)}}
        <br><br>
    </div>
    <div class="input-field adresse postale">
        {{ form_label(inscriptionForm.adresse_postale, 'Adresse postale') }}
        {{ form_widget(inscriptionForm.adresse_postale)}}
        <br><br>
    </div>
        <div class="input-field code postal">
        {{ form_label(inscriptionForm.code_postal, 'Code postal') }}
    {{ form_widget(inscriptionForm.code_postal)}}
    <br><br>
    </div>
    <div class="input-field ville">
        {{ form_label(inscriptionForm.ville, 'Ville') }}
        {{ form_widget(inscriptionForm.ville)}}
        <br><br>
    </div>

    <div class="input-field pays">
        {{ form_label(inscriptionForm.pays, 'Pays') }}
        {{ form_widget(inscriptionForm.pays)}}
        <br><br>
    </div>


    <div class="input-field tournois">
        {{ form_label(inscriptionForm.tournois, 'Tournois') }}
        {{ form_widget(inscriptionForm.tournois)}}
        <br><br>
    </div>

    <div class="input-field recompense">
        {{ form_label(inscriptionForm.recompense, 'Recompense') }}
        {{ form_widget(inscriptionForm.recompense)}}
        <br><br>
    </div>



    <button type="submit" class="btn">Valider</button>
    {{ form_end(inscriptionForm) }}
    <button class="btn btn-lg btn-secondary" type="submit">
        <a href="{{ path('app_accueil') }}" title = "retour">Retour</a>
    </button>
{% endblock %}
