{% extends 'base.html.twig' %}

{% block title %}Shootfighter{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
 {%  endblock %}
{% block body %}
<body>
<div class="container">
    <div class = "detail">
        <div id ="bloc-titre-detail">
            <p id ="titre-detail">{{ tournois.nom }}<br>{{ tournois.date | date ('d-m-Y') }}</p></div>

        <div class ="presentation-tournoi">
           {{ tournois.description }}
        </div>
        <div id = "p-places">Nombre de places restantes : {{ placesRestantes }}/{{ tournois.nbPlacesMax }}</div>

            {% if app.user %}
        <div class ="btn-detail-user"><a href="{{ path('app_inscription', {'idTournois': tournois.id, 'id': app.user.id}) }}" title = "detail">
                <img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournoi" height="400px"
                     width="650px">
            </a></div>
                {% elseif not app.user %}
                <div class = "btn-detail-not-user"><a href="{{ path('app_login')}}" title = "se connecter">
                <img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournoi" height="400px"
                     width="650px"></a></div>


            {% endif %}
        </div>
    </div>
</body>
{% endblock %}




