{% extends 'base.html.twig' %}

    {% block title %}Tournois{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">

{% endblock %}
{% block body %}
    <body>
    <div class ="container">

        {% for tournois in tournois %}
            <div class ="tournois">
                <div id = titre-tournois>{{ tournois.nom }}<br>{{ tournois.date | date ('d-m-Y') }}</div>

                <div class ="btn-tournois">
                    <a href="{{ path('app_detail', {'idTournois': tournois.id}) }}" title = "detail">
                    <div id ="image-tournois"><img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournois" height="400px" width="600px"> </div></a>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}



