{% extends 'base.html.twig' %}

{% block title %}Shootfighter{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
 {%  endblock %}
{% block body %}
<body>
<div class="container">
    <div class = "detail">
        <div id ="titre-detail">{{ tournois.nom }}<br>{{ tournois.date | date ('d-m-Y') }}</div>
        <div id ="places">{{ placesRestantes }}</div>

        <div class ="btn-detail">
            {% if app.user %}
            <a href="{{ path('app_inscription', {'idTournois': tournois.id, 'id': app.user.id}) }}" title = "detail">
                <div id ="tournois-detail"><img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournoi" height="400px"
                                                width="800px"></div></a>

            {% elseif not app.user %}
            <a href="{{ path('app_login')}}" title = "se connecter"><div id = "tournois-image"><img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournoi" height="400px"
                                                                         width="600px"></div></a></div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}




