{% extends 'base.html.twig' %}

    {% block title %}Tournois{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">

{% endblock %}
{% block body %}
<body>


    {% for tournois in tournois %}
            <h1>{{ tournois.nom }}<br> {{ tournois.date | date ('d-m-Y') }}</h1>
    <div class ="container">
        <div class ="bouton-detail-tournoi">
            <a href="{{ path('app_detail', {'idTournois': tournois.id}) }}" title = "detail">
                <img src="{{ asset('images/tournois/' ~ tournois.imageName) }}" alt="image tournois" height="400px" width="600px"></a>

        </div>
        <br>
    {% endfor %}
</div>

    </body>
{% endblock %}



